.entireCounter{
    text-align: center;
    background-color: black;
    padding-top: 0px;
    margin: 20px;
}
.entireCounter div{
    display:inline-block;
    font-size: 60px;
    padding: 20px;
    color: white;
    margin: 5px;
    border: 2px solid #202020;
    border-radius: 5px;
    background-color: #191919;
}
